{% load static %}

{% comment %} <p> This Is (header.html) Page - Put The Code Header HTML Here <p> {% endcomment %}

        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

        <!-- title of site -->
        <title>Furniture</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="{% static 'assets/logo/favicon.png' %}"/>

        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

        <!--linear icon css-->
		<link rel="stylesheet" href="{% static 'assets/css/linearicons.css' %}">

		<!--animate.css-->
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">

        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

		<!-- bootsnav -->
		<link rel="stylesheet" href="{% static 'assets/css/bootsnav.css' %}" >	

        <!--style.css-->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

        <!--responsive.css-->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

<header id="home" class="welcome-hero">
			<div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
				<!--/.carousel-indicator -->
				<ol class="carousel-indicators">
					<li data-target="#header-carousel" data-slide-to="0" class="active"><span class="small-circle"></span></li>
					<li data-target="#header-carousel" data-slide-to="1"><span class="small-circle"></span></li>
					<li data-target="#header-carousel" data-slide-to="2"><span class="small-circle"></span></li>
				</ol>
			</div>
</header>

{% if  user.is_authenticated %}

<!---  USER_IS_AUTHENTICATED_INCLUDE  ----------------------------- -->
{% include 'home/user_is_authenticated.html'%}

{% else %}

<!---  USER_IS_NOT_AUTHENTICATED_INCLUDE  ----------------------------- -->
{% include 'home/user_is_not_authenticated.html'%}

{% endif %}
