
<header>
<li><a  class="mt-0"> ( Welcome: {{ user.username }} | Last login: {{ user.last_login }} ) </a></li>
<div class="top-area">
	<div class="header-area"><li><a  class="mt-0">  </a></li>

		<!-- Start Navigation -->
		<nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

<div class="container">            
	<!-- Start Atribute Navigation -->
	<div class="attr-nav">
		<ul>
			<li class="search">
				<a href="#"><span class="lnr lnr-magnifier"></span></a>
			</li><!--/.search-->
			<li class="nav-setting">
				<a href="#"><span class="lnr lnr-cog"></span></a>
			</li><!--/.search-->
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" >
					<span class="lnr lnr-cart"></span>
					<span class="badge badge-bg-1"> {{ request.user.get_cart_count }}</span>
				</a>
				
				<ul class="dropdown-menu cart-list s-cate">

					{% for cartItems in carts.cart_items.all %} 

					<li class="single-cart-list">
						<a href="#" class="photo"><img src= {{cartItems.pizza.images.url}} class="cart-thumb" alt="image" /></a>
						<div class="cart-list-txt">
							<h6><a href="#"> {{cartItems.Pizza.pizza_name }}</a></h6>
							<p>1 x - <span class="price"> $ {{cartItems.pizza.price }}</span></p>
						</div><!--/.cart-list-txt-->
						<div class="cart-close">cartItems
							<span class="lnr lnr-cross"></span>
						</div><!--/.cart-close-->
					</li><!--/.single-cart-list -->
				
				{% endfor %} 
				
					<li class="total">
						<span>Total: $0.00</span>
						<p>
							<span class="lnr lnr-cart"></span>
							<a href="{% url 'cart'   %}">View <span> </span> cart</a>
						</p>
				
					</li>
				</ul>
				</li><!--/.dropdown-->
				</ul>
				</div><!--/.attr-nav-->
				<!-- End Atribute Navigation -->
				
				
























<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
		<i class="fa fa-bars"></i>
	</button>
	<a class="navbar-brand" href="index.html">Just Like Mamma’s.</a>
</div><!--/.navbar-header-->
				<!-- End Header Navigation -->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
					<ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
						<li class=" scroll active"><a href="#home">home</a></li>
						<li class="scroll"><a href="#new-arrivals">new arrival</a></li>
						<li class="scroll"><a href="#feature">features</a></li>
						<li class="scroll"><a href="#blog">blog</a></li>
						<li class="scroll"><a href="#newsletter">contact</a></li>
					</ul><!--/.nav -->
				</div><!-- /.navbar-collapse -->
			</div><!--/.container-->
		</nav><!--/nav-->
		<!-- End Navigation -->
	</div><!--/.header-area-->
	<div class="clearfix"></div>

</div><!-- /.top-area-->
<!-- top-area End -->
</header><!--/.welcome-hero-->
<!--welcome-hero end -->
