
<header> 
<div class="top-area">
	<div class="header-area">
		<!-- Start Navigation -->
		<nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">


<!---  SEARCH_INCLUDE  ----------------------------- -->
{% include 'home/search.html'%}



			<div class="container">            
				<!-- Start Atribute Navigation -->
				<div class="attr-nav">
					<ul>
						<li class="search">
							<a href="#"><span class="lnr lnr-magnifier"></span></a>
						</li><!--/.search-->
						
						
						<li class="nav-setting">
							<a href="#"><span class="lnr lnr-cog"></span></a>
						</li><!--/.search-->
						
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" >
								<span class="lnr lnr-cart"></span>
								<span class="badge badge-bg-1"> {{request.user.get_cart_count}} </span>
							</a>

<ul class="dropdown-menu cart-list s-cate">
	<p> The Cart is empty <p>
</ul>
						</li><!--/.dropdown-->
						
					</ul>
				</div><!--/.attr-nav-->
				<!-- End Atribute Navigation -->

				<!-- Start Header Navigation -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="index.html">furn.</a>

				</div><!--/.navbar-header-->
				<!-- End Header Navigation -->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
					<ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
						<li class=" scroll active"><a href="#home">home</a></li>
					</ul><!--/.nav -->
				</div><!-- /.navbar-collapse -->
			</div><!--/.container-->
		</nav><!--/nav-->
		<!-- End Navigation -->
	</div><!--/.header-area-->
	<div class="clearfix"></div>

</div><!-- /.top-area-->
</header>

{% comment %} {% endif %} {% endcomment %}

</div><!-- /.top-area-->
</header>
